.App {
    text-align: left;
    background-color: #efefef;
    min-height: 100vh;
    display: flex;
}

.app-container{
    margin-right: auto;
    margin-left: auto;
}

.space-from-right-5 {
    margin-right: .5em;
}
